.about-profile {
  margin-bottom: 5rem;
}

.about-verse {
  background-color: rgb(115 101 114);
  margin: auto;
  width: 100%;
  margin: 2cm auto;
}

.about-verse-text {
  font-family: "Montserrat";
  color: white;
  font-size: 25px;
  padding: 1cm;
  text-align: center;
}

.about-verse-verse {
  font-size: 20px;
}
