.story-container {
  max-width: 80rem;
  margin: 0 auto;
}

.story-header {
  text-align: center;
  font-size: 50px;
  font-family: "Montserrat";
}

.story-one {
  display: flex;
  align-items: center;
}

.story-one-txt {
  margin: 0 1rem;
}

.story-one-img {
  padding: 10px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 10px;
}

.story-first {
  width: 30rem;
}

.story-sec {
  width: 25rem;
}

.story-two {
  display: flex;
  align-items: center;
}

.story-two-txt {
  margin: 0 0rem;
}

.story-two-img {
  padding: 100px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 10px;
}

.story-p {
  padding: 10px;
  font-size: 18px;
  font-family: "Montserrat";
}

.story-img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .story-one {
    display: block;
  }

  .story-two {
    display: block;
  }

  .story-one-img {
    text-align: center;
  }

  .story-two-img {
    text-align: center;
    padding: 10px;
  }

  .story-first {
    width: 18rem;
  }

  .story-sec {
    width: 18rem;
  }
}
