.main-page-list {
  background-color: rgba(245 244 244);

  width: 80%;
  margin: 2cm auto;
}

.list-title {
  text-align: center;
  font-family: "Montserrat";
  padding-top: 1cm;
}

.list-img {
  max-width: 20rem;
  margin: 3rem;
}

.list-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
